In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [116]:
rest_row = pd.read_json(r'.\Row data\resturants.json')
hot_row = pd.read_json(r'.\Row data\hotels.json')
attr_row = pd.read_json(r'.\Row data\attractions.json')

## Data Exploration

In [117]:
rest_row.info()
rest_row.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7015 entries, 0 to 7014
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   7015 non-null   int64
 1   type                 7015 non-null   object
 2   name                 7015 non-null   object
 3   image                2343 non-null   object
 4   awards               7015 non-null   object
 5   rankingPosition      3448 non-null   float64
 6   priceLevel           7015 non-null   object
 7   category             3448 non-null   object
 8   rating               3439 non-null   float64
 9   isClosed             7015 non-null   bool
 10  isLongClosed         7015 non-null   bool
 11  phone                2595 non-null   object
 12  address              7015 non-null   object
 13  email                952 non-null    object
 14  cuisine              7015 non-null   object
 15  mealTypes            7015 non-null   object
 16  dietaryRestrictions  7015 non-null   object
 17  hours                7015 non-null   object
 18  latitude             5821 non-null   float64
 19  longitude            5821 non-null   float64
 20  webUrl               7015 non-null   object
 21  website              1815 non-null   object
 22  rankingDenominator   3448 non-null   float64
 23  rankingString        3448 non-null   object
 24  numberOfReviews      7015 non-null   int64
 25  reviewsCount         7015 non-null   int64
 26  reviews              7015 non-null   object
 27  reviewTags           7015 non-null   object
dtypes: bool(2), float64(5), int64(3), object(18)
memory usage: 1.4+ MB

,id,type,name,image,awards,rankingPosition,priceLevel,category,rating,isClosed,...,latitude,longitude,webUrl,website,rankingDenominator,rankingString,numberOfReviews,reviewsCount,reviews,reviewTags
0,7313924,RESTAURANT,Corallo Restaurant,https://media-cdn.tripadvisor.com/media/photo-...,[],8.0,$$ - $$$,restaurant,5.0,False,...,27.093143,33.849445,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel/destinations/egypt/hurgh...,429.0,#8 of 469 Restaurants in Hurghada,433,100,"[{'id': '869681488', 'lang': 'en', 'location_i...","[{'text': 'seafood', 'review_count': 45}, {'te..."
1,3752925,RESTAURANT,Makai Tukai,https://media-cdn.tripadvisor.com/media/photo-...,[],6.0,$$ - $$$,restaurant,5.0,False,...,26.988777,33.897915,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel/destinations/egypt/madin...,429.0,#6 of 469 Restaurants in Hurghada,1288,100,"[{'id': '869690478', 'lang': 'en', 'location_i...","[{'text': 'sushi', 'review_count': 50}, {'text..."
2,7233925,RESTAURANT,Sofra Middle Eastern Cuisine - Hurghada,https://media-cdn.tripadvisor.com/media/photo-...,[],2.0,$$$$,restaurant,5.0,False,...,27.092846,33.848225,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel,429.0,#2 of 469 Restaurants in Hurghada,771,100,"[{'id': '869261192', 'lang': 'en', 'location_i...","[{'text': 'kunafa', 'review_count': 10}, {'tex..."
3,21276749,RESTAURANT,Amaya Restaurant,https://media-cdn.tripadvisor.com/media/photo-...,[],7.0,$$ - $$$,restaurant,5.0,False,...,27.091307,33.846590,https://www.tripadvisor.com/Restaurant_Review-...,NaN,429.0,#7 of 469 Restaurants in Hurghada,339,100,"[{'id': '869585177', 'lang': 'en', 'location_i...","[{'text': 'thali', 'review_count': 4}, {'text'..."
4,3752928,RESTAURANT,Sofra,https://media-cdn.tripadvisor.com/media/photo-...,[],3.0,$$ - $$$,restaurant,5.0,False,...,26.988743,33.897280,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel/destinations/egypt/madin...,429.0,#3 of 469 Restaurants in Hurghada,1473,100,"[{'id': '869586240', 'lang': 'en', 'location_i...","[{'text': 'mixed grill', 'review_count': 46}, ..."

In [118]:
rest_row_single = rest_row.drop(['dietaryRestrictions','hours','awards','cuisine','reviews','reviewTags','mealTypes'],axis = 1)

In [119]:
rest_row_single.head()

,id,type,name,image,rankingPosition,priceLevel,category,rating,isClosed,isLongClosed,...,address,email,latitude,longitude,webUrl,website,rankingDenominator,rankingString,numberOfReviews,reviewsCount
0,7313924,RESTAURANT,Corallo Restaurant,https://media-cdn.tripadvisor.com/media/photo-...,8.0,$$ - $$$,restaurant,5.0,False,False,...,"South Sahl Hashish Road,Magawish District Jaz ...",info@jazaquamarine.com,27.093143,33.849445,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel/destinations/egypt/hurgh...,429.0,#8 of 469 Restaurants in Hurghada,433,100
1,3752925,RESTAURANT,Makai Tukai,https://media-cdn.tripadvisor.com/media/photo-...,6.0,$$ - $$$,restaurant,5.0,False,False,...,"Jaz Makadi Saraya Resort Madinat Makadi, Hurgh...",makadisaraya@jaz.travel,26.988777,33.897915,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel/destinations/egypt/madin...,429.0,#6 of 469 Restaurants in Hurghada,1288,100
2,7233925,RESTAURANT,Sofra Middle Eastern Cuisine - Hurghada,https://media-cdn.tripadvisor.com/media/photo-...,2.0,$$$$,restaurant,5.0,False,False,...,"Jaz Aquamarine Resort, Magawish District,, Hur...",info@jazaquamarine.com,27.092846,33.848225,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel,429.0,#2 of 469 Restaurants in Hurghada,771,100
3,21276749,RESTAURANT,Amaya Restaurant,https://media-cdn.tripadvisor.com/media/photo-...,7.0,$$ - $$$,restaurant,5.0,False,False,...,"South Sahl Hashish Road Jaz Aquamarine Resort,...",NaN,27.091307,33.846590,https://www.tripadvisor.com/Restaurant_Review-...,NaN,429.0,#7 of 469 Restaurants in Hurghada,339,100
4,3752928,RESTAURANT,Sofra,https://media-cdn.tripadvisor.com/media/photo-...,3.0,$$ - $$$,restaurant,5.0,False,False,...,"Jaz Makadi Saraya Resort Madinat Makadi, Hurgh...",makadisaraya@jaz.travel,26.988743,33.897280,https://www.tripadvisor.com/Restaurant_Review-...,http://www.jaz.travel/destinations/egypt/madin...,429.0,#3 of 469 Restaurants in Hurghada,1473,100

In [120]:
rest_row_single.nunique(axis = 0)

id                    7015
type                     1
name                  5545
image                 2343
rankingPosition       1911
priceLevel               4
category                 1
rating                   9
isClosed                 1
isLongClosed             1
phone                 2291
address               6324
email                  781
latitude              4727
longitude             4728
webUrl                7015
website               1610
rankingDenominator      13
rankingString         3448
numberOfReviews        351
reviewsCount            99
dtype: int64

In [121]:
rest_row_single['numberOfReviews'].describe()

count    7015.000000
mean       26.693942
std       138.621490
min         0.000000
25%         0.000000
50%         0.000000
75%         5.000000
max      3526.000000
Name: numberOfReviews, dtype: float64

In [122]:
res_reviews = {}
for i,row in rest_row.iterrows():
    res_reviews[i] = row['reviews']

In [123]:
res_reviews[0][0]

{'id': '869681488',
 'lang': 'en',
 'location_id': '7313924',
 'published_date': '2022-11-25T09:51:47-05:00',
 'published_platform': 'Mobile',
 'rating': '5',
 'type': 'review',
 'helpful_votes': '0',
 'url': 'https://www.tripadvisor.com/ShowUserReviews-g297549-d7313924-r869681488-Corallo_Restaurant-Hurghada_Red_Sea_and_Sinai.html#review869681488',
 'travel_date': '2022-11',
 'text': 'Thank you guys it was amazing. Very good food and bouillabaisse. Very helpful and informative waithers. Enjoy.',
 'user': {'user_id': '54BBB2FD2E0C54C8407A1C4DECDEE647',
  'type': 'user',
  'first_name': None,
  'last_initial': None,
  'name': None,
  'reviewer_type': None,
  'contributions': {'reviews': '1',
   'review_city_count': '0',
   'restaurant_reviews': '1',
   'hotel_reviews': '0',
   'attraction_reviews': '0',
   'helpful_votes': '0',
   'photos_count': '0',
   'badges_count': '0'},
  'member_id': '0',
  'username': 'Savoldelli58',
  'user_location': {'name': None, 'id': None},
  'avatar': {'small': {'url': 'https://media-cdn.tripadvisor.com/media/photo-t/1a/f6/f1/42/default-avatar-2020-20.jpg'},
   'large': {'url': 'https://media-cdn.tripadvisor.com/media/photo-l/1a/f6/f1/42/default-avatar-2020-20.jpg'}},
  'link': 'https://www.tripadvisor.com/MemberProfile-a_uid.54BBB2FD2E0C54C8407A1C4DECDEE647',
  'points': '0',
  'created_time': '2022-03-23T07:13:14-0400',
  'locale': 'it_CH'},
 'title': 'Gentile dinner',
 'owner_response': {'id': '869723666',
  'lang': 'en',
  'published_date': '2022-11-25T22:09:35-05:00',
  'connection': 'General Manager',
  'responder': 'Mohamed Wafa',
  'text': "Dear Guest,\n\nThank you for visiting our restaurant. We would also like to thank you for your valued feedback. We are extremely committed to delivering the perfect dining experience for each and every guest and are very pleased that you enjoyed the food and service. We hope to have the pleasure to host your dinner in our restaurant very soon.\n\nBest Regards,\nCorallo's Team",
  'title': 'Owner Response'},
 'subratings': [],
 'machine_translated': False,
 'machine_translatable': False,
 'photos': [{'id': '654792785',
   'locations': [{'name': 'Corallo Restaurant',
     'id': '7313924',
     'web_url': 'https://www.tripadvisor.com/Restaurant_Review-g297549-d7313924-Reviews-Corallo_Restaurant-Hurghada_Red_Sea_and_Sinai.html',
     'intent_url': 'tripadvisor:///Restaurant_Review-g297549-d7313924-Reviews-Corallo_Restaurant-Hurghada_Red_Sea_and_Sinai.html',
     'parent_location_id': 297549}],
   'published_date': '2022-11-25T14:51:01-0500',
   'user': {'username': 'Savoldelli58',
    'member_id': '0',
    'user_id': '54BBB2FD2E0C54C8407A1C4DECDEE647',
    'type': 'user',
    'avatar': {'id': '452391234',
     'caption': 'default-avatar-2020-20',
     'published_date': '2020-02-21T16:24:16-0500',
     'helpful_votes': '0',
     'is_blessed': False,
     'uploaded_date': '2020-02-21T16:24:16-0500',
     'images': {'small': {'url': 'https://media-cdn.tripadvisor.com/media/photo-l/1a/f6/f1/42/default-avatar-2020-20.jpg',
       'width': '150',
       'height': '150'},
      'thumbnail': {'url': 'https://media-cdn.tripadvisor.com/media/photo-t/1a/f6/f1/42/default-avatar-2020-20.jpg',
       'width': '50',
       'height': '50'},
      'original': {'url': 'https://media-cdn.tripadvisor.com/media/photo-o/1a/f6/f1/42/default-avatar-2020-20.jpg',
       'width': '1200',
       'height': '1200'},
      'large': {'url': 'https://media-cdn.tripadvisor.com/media/photo-s/1a/f6/f1/42/default-avatar-2020-20.jpg',
       'width': '450',
       'height': '450'},
      'medium': {'url': 'https://media-cdn.tripadvisor.com/media/photo-f/1a/f6/f1/42/default-avatar-2020-20.jpg',
       'width': '205',
       'height': '205'}}}},
   'helpful_votes': '0',
   'is_blessed': False,
   'uploaded_date': '2022-11-25T14:51:01-0500',
   'images': {'small': {'url': 'https://media-cdn.tripadvisor.com/media/photo-l/27/07/58/51/corallo-restaurant.jpg',
     'width': '150',
     'height': '150'},
    'thumbnail': {'url': 'https://media-cdn.tripadvisor.com/media/photo-t/27/07/58/51/corallo-restaurant.jpg',
     'width': '50',
     'height': '50'},
    'original': {'url': 'https://media-cdn.tripadvisor.com/media/photo-o/27/07/58/51/corallo-restaurant.jpg',
     'width': '2604',
     'height': '4624'},
    'large': {'url': 'https://media-cdn.tripadvisor.com/media/photo-s/27/07/58/51/corallo-restaurant.jpg',
     'width': '253',
     'height': '450'},
    'medium': {'url': 'https://media-cdn.tripadvisor.com/media/photo-f/27/07/58/51/corallo-restaurant.jpg',
     'width': '115',
     'height': '205'}}}]}

In [124]:
rest_row['reviews'].iter

AttributeError: 'Series' object has no attribute 'iter'

In [129]:
hot_row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1243 non-null   int64
 1   type                   1243 non-null   object
 2   name                   1243 non-null   object
 3   image                  995 non-null    object
 4   awards                 1243 non-null   object
 5   priceLevel             1243 non-null   object
 6   hotelClass             1243 non-null   float64
 7   address                1243 non-null   object
 8   amenities              1243 non-null   object
 9   prices                 1243 non-null   object
 10  latitude               1089 non-null   float64
 11  longitude              1089 non-null   float64
 12  webUrl                 1243 non-null   object
 13  numberOfReviews        1243 non-null   int64
 14  reviewsCount           1243 non-null   int64
 15  reviews                1243 non-null   object
 16  reviewTags             1243 non-null   object
 17  phone                  926 non-null    object
 18  priceRange             922 non-null    object
 19  email                  699 non-null    object
 20  website                738 non-null    object
 21  rankingPosition        989 non-null    float64
 22  category               989 non-null    object
 23  rating                 990 non-null    float64
 24  rankingString          989 non-null    object
 25  rankingDenominator     989 non-null    float64
 26  hotelClassAttribution  643 non-null    object
dtypes: float64(6), int64(3), object(18)
memory usage: 262.3+ KB

In [131]:
hot_row.describe()

,id,hotelClass,latitude,longitude,numberOfReviews,reviewsCount,rankingPosition,rating,rankingDenominator
count,1.243000e+03,1243.000000,1089.000000,1089.000000,1243.000000,1243.000000,989.000000,990.000000,989.000000
mean,9.551592e+06,2.012872,28.146719,32.723238,815.014481,88.152856,77.879676,3.837374,169.945399
std,9.875891e+06,2.059754,1.886203,2.038235,1694.111716,107.798878,74.223079,0.923142,109.777900
min,2.991060e+05,0.000000,24.012660,25.436210,0.000000,0.000000,1.000000,1.000000,1.000000
25%,6.530735e+05,0.000000,27.104520,31.262564,1.000000,1.000000,16.000000,3.500000,59.000000
50%,3.177173e+06,2.000000,27.916800,33.821037,37.000000,37.000000,44.000000,4.000000,248.000000
75%,2.117696e+07,4.000000,30.044483,34.320004,794.500000,100.000000,137.000000,4.500000,271.000000
max,2.516955e+07,5.000000,31.393322,35.086834,13686.000000,300.000000,253.000000,5.000000,291.000000

In [147]:
hot_row['priceRange'].describe()

count           922
unique          850
top       $31 - $39
freq              4
Name: priceRange, dtype: object

In [149]:
attr_row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 57 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   type                                       2264 non-null   object
 1   image                                      2139 non-null   object
 2   location_id                                2264 non-null   int64
 3   name                                       2264 non-null   object
 4   latitude                                   1255 non-null   float64
 5   longitude                                  1255 non-null   float64
 6   num_reviews                                2264 non-null   int64
 7   timezone                                   2264 non-null   object
 8   location_string                            2264 non-null   object
 9   photo                                      2139 non-null   object
 10  api_detail_url                             2264 non-null   object
 11  awards                                     2264 non-null   object
 12  location_subtype                           2264 non-null   object
 13  doubleclick_zone                           2264 non-null   object
 14  preferred_map_engine                       2264 non-null   object
 15  raw_ranking                                1960 non-null   float64
 16  ranking_geo                                1960 non-null   object
 17  ranking_geo_id                             1960 non-null   float64
 18  ranking_position                           1960 non-null   float64
 19  ranking_denominator                        1960 non-null   float64
 20  ranking_category                           1960 non-null   object
 21  ranking_subcategory                        1960 non-null   object
 22  subcategory_ranking                        1960 non-null   object
 23  ranking                                    1960 non-null   object
 24  distance                                   0 non-null      float64
 25  distance_string                            0 non-null      float64
 26  bearing                                    0 non-null      float64
 27  rating                                     1936 non-null   float64
 28  is_closed                                  2264 non-null   bool
 29  is_long_closed                             2264 non-null   bool
 30  description                                2264 non-null   object
 31  web_url                                    2264 non-null   object
 32  write_review                               2264 non-null   object
 33  ancestors                                  2264 non-null   object
 34  category                                   2264 non-null   object
 35  subcategory                                2264 non-null   object
 36  parent_display_name                        2264 non-null   object
 37  is_jfy_enabled                             2264 non-null   bool
 38  nearest_metro_station                      2264 non-null   object
 39  address_obj                                2264 non-null   object
 40  address                                    2264 non-null   object
 41  is_candidate_for_contact_info_suppression  2264 non-null   bool
 42  subtype                                    2264 non-null   object
 43  booking                                    829 non-null    object
 44  offer_group                                829 non-null    object
 45  tags                                       2264 non-null   object
 46  reviews                                    2264 non-null   object
 47  website                                    1855 non-null   object
 48  open_now_text                              970 non-null    object
 49  phone                                      1896 non-null   object
 50  hours                                      970 non-null    object
 51  email                                      1681 non-null   object
 52  machine_translated                         323 non-null    float64
 53  animal_welfare_tag                         722 non-null    object
 54  translation_vendor                         10 non-null     object
 55  fee                                        8 non-null      object
 56  ta_message                                 3 non-null      object
dtypes: bool(4), float64(11), int64(2), object(40)
memory usage: 946.4+ KB

In [157]:
attr_row['fee']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2259    NaN
2260    NaN
2261    NaN
2262    NaN
2263    NaN
Name: fee, Length: 2264, dtype: object